/* === ADMIN TAMBAH PRODUK === */

.admin-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease;
}

.admin-card h2 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 22px;
  color: #333;
}

/* input & select */
.admin-card input,
.admin-card select {
  width: 93%;
  height: 30px;
  padding: 12px 14px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.admin-card input:focus,
.admin-card select:focus {
  border-color: #8b5a4a;
  box-shadow: 0 0 0 3px rgba(123, 97, 255, 0.15);
}
.admin-card select {
  width: 420px;
  height: 40px;
}
/* button */
.admin-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #8b5a4a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.admin-card button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #8b5a4a83;
}

.admin-card button:active {
  transform: translateY(0);
  box-shadow: none;
}

/* animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-menu img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
