body {
  background-color: #e3dac9;
  font-family: "Poppins", sans-serif;
}
.logo1 {
  font-weight: bold;
  font-size: 20px;
  color: #8b5a4a;
  margin-top: -428px;
  margin-left: 30px;
  position: relative;
}
.logo1 img {
  background-color: white;
  border-radius: 100px;
  height: 90px;
  width: 90px;
  position: relative;
  top: 40px;
  left: -10px;
  margin-top: 20px;
  margin-left: 20px;
}
.search {
  position: relative;
  border-radius: 50px;
  width: 300px;
  margin-top: -35px;
  margin-left: 300px;
}
.search input {
  border-radius: 30px;
  width: 140%;
  height: 40px;
  padding-left: 40px;
  font-size: 15px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
 
.container-home {
  position: relative;
}
.containerkotak {
  background-color: #8b5a4a;
  position: relative;
  top: -4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  width: 989px;
  z-index: -40;
  height: 570px;
  border-radius: 36px;
}
.icon-search {
  position: absolute;
  margin-left: 20px;
  margin-top: 13.5px;
  color: #bababa;
  font-size: 16px;

  pointer-events: none;
}

.search {
  position: relative;
} 
.search img{
  position: relative;
  margin-top: -1000%;
  top: -20px;
  width: 50px;
  height:50px;
  border: none;
  cursor: pointer;
  margin-left: 1000px;
}
.nama-user {
  margin-left: 1006px;
  font-size: 17px;
  font-weight: 500;
  top: 5px;
  left: 50px;
  position:absolute;
  cursor: pointer;
}