@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.container-register1 {
  margin: 0 0 auto;
  width: 750px;
  border-radius: 50px;
  height: 720px;
  position: relative;
  margin-top: -10px;
  margin-left: -50px;
  height: 715px;
  background: conic-gradient(from 140deg, #8b5a4a, #c49a6c, #8b5a4a, #4a2f24);
  background-size: cover;
  background-position: center;
  border: 5px solid #ffffff;
}
.gambar1 {
  position: relative;
  width: 550px;
  height: 500px;
  margin-top: 100px;
  left: 60px;
}
.subjudregis {
  font-size: 65px;
  color: #ffffff;
  text-align: left;
  position: relative;
  top: 90px;
  width: 500px;
  left: 120px;
   
}
.subregis{
   font-size: 27px;
   width: 300px;
  margin-top: 40px;
}
.buttonsemuaregis{
   display: block;
   position: relative;
     margin-top: -660px;
}
.buttonsemuaregis input{
   display: block;
   position: relative;
   margin-left: 880px;
   margin-top: 30px;
   border: 1px solid rgba(0, 0, 0, 0.279);
  width: 400px;
  border-radius: 5px;
}
.buttonsemuaregis p{
  position: relative;
  font-size: 50px;
  margin-left: 998px;
  font-weight: bold;
  width: 200px;
  color: #4a2f24;
  
}
.buttonsemuaregis button{
   display: block;
   position: relative;
   margin-left: 880px;
   margin-top: 20px;
   border: 1px solid rgba(0, 0, 0, 0.279);
  width: 427px;
  border-radius: 5px;
  margin-top: 40px;
}
.buttonsemuaregis button:hover{
 background-color: #4a2f24;
 color: rgb(255, 255, 255);
  cursor: pointer;
}
.buttonsemuaregis .palo{
  margin-left: 880px;
  font-size: 12px;
  top: -0px;
  width: 300px;
   color: black;
  position: relative;
}